@import url('https://fonts.googleapis.com/css?family=Righteous');

@keyframes colorFlip {
  0% { color: #fafafa }
  49% { color: #fafafa }
  50% { color: #f02544 }
  100% { color: #f02544 }
}

@keyframes colorFlipInverse {
  0% { color: #f02544 }
  49% { color: #f02544 }
  50% { color: #fafafa }
  100% { color: #fafafa }
}

@keyframes fadeInRight {
  0% { left: 100% }
  100% { left: 50% }
}

@keyframes fadeInBottom {
  0% { top: 100% }
  100% { top: 50% }
}

body {
  margin: 0;
  padding: top;
  font-family: 'Righteous', cursive;
  font-size: 5em;
  line-height: 1em;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  width: 100vw;
  height: 100vh;
  background: #111;
  color: #fafafa;
  animation-delay: 3s;
  animation: colorFlip 3.5s infinite;
  overflow: hidden;
    .love {
    color: #f02544;
    animation-delay: 3s;
    animation: colorFlipInverse 3.5s infinite;
  }
  .from-right,
  .from-bottom { 
    position:relative;
    width: 10em;
    height: 3em;
    margin-left: -5em;
    left: 50%;
    top: 50%;
    text-align: center;
  }
  .from-right {
    margin-top: -1em;
    animation: fadeInRight 2s 1;
  }
  .from-bottom {
    animation: fadeInBottom 2s 1;
  }
}
View Compiled
Run Pen



